.project
.settings
.classpath
*.iml
*.iws
*.ipr
.gradle/
.idea/
build/
*/build/
out/
examples/*/target/
examples/*/*/target/
examples/*/project/project
examples/*/data-template/src/main/codegen
test/*/target
test/*/*/target
test/*/project/project
test/*/data-template/src/main/codegen
test/*/artifacts

